.posts-feed {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	display: none;
}

.post-card {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 100px 1fr;
	border: 1px solid var(--dark-200);
	border-radius: 5px;
	flex: 0 0 auto;
	cursor: pointer;
}

.post-card.self {
	border-color: var(--green);
	background: transparent !important;
	cursor: default;
}

.post-card:hover {
	background: var(--dark-200);
}

.post-card.skeleton {
	cursor: default;
	background: transparent;
}

.post-user-image {
	position: relative;
	width: 100px;
	height: 100px;
	object-fit: cover;
	background: var(--dark-200);
	border-radius: 5px 0 0 5px;
}

.post-content {
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px;
  display: grid;
  grid-template-rows: 20px 1fr 10px;
  gap: 10px;
}

.post-header {
	position: relative;
	display: flex;
	gap: 10px;
	justify-content: start;
	align-items: center;
}

.user-name {
	position: relative;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: var(--white-100);
}

.post-card.skeleton .user-name {
	min-width: 100px;
	height: 20px;
	border-radius: 5px;
}

.user-status {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.user-status.online {
	background: var(--green);
}

.user-status.was-online {
	background: var(--white-200);
}

.user-status.offline {
	box-shadow: inset 0 0 0 1px var(--white-200);
}

.user-status.online:before,
.user-status.online:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	background: var(--green);
	border-radius: 50%;
	z-index: -1;
	transform: translate(-50%, -50%) scale(0);
	animation-name: status-online;
	animation-duration: 5s;
	animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
	animation-iteration-count: infinite;
	mix-blend-mode: screen;
}

.user-status.online:before {
	width: 30px;
	height: 30px;
}

.user-status.online:after {
	width: 20px;
	height: 20px;
}

@keyframes status-online {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	20%, 100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

.user-distance {
	position: relative;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	font-size: 10px;
	font-weight: 400;
	line-height: 10px;
	color: var(--white-200);
	border: 1px solid var(--white-200);
	display: flex;
	gap: 2px;
	justify-content: center;
	align-items: center;
}

.user-distance b {
	font-weight: 700;
}

.post-card.skeleton .user-distance {
	min-width: 30px;
	height: 20px;
	border-color: var(--dark-200);
}


.post-body {
	position: relative;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	color: var(--white-100);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card.skeleton .post-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.post-card.skeleton .post-body:before {
	position: relative;
	content: '';
	display: block;
	width: 100%;
	height: 12px;
	border-radius: 5px;
}

.post-card.skeleton .post-body::after {
	position: relative;
	content: '';
	display: block;
	width: 65%;
	height: 12px;
	border-radius: 5px;
}

.post-footer {
	position: relative;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}

.post-user-details,
.post-date {
	font-size: 10px;
	font-weight: 400;
	line-height: 8px;
	color: var(--white-200);
}

.post-user-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.post-user-details div span {
	display: block;
	height: 7px;
} 

.post-user-details div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2px;
}

.post-user-details img {
	height: 8px;
	display: block;
}

.post-user-details b {
	font-weight: 700;
}


.post-card.skeleton .post-user-details,
.post-card.skeleton .post-date {
	height: 10px;
	border-radius: 5px;
}

.post-card.skeleton .post-user-details {
	width: 110px;
}

.post-card.skeleton .post-date {
	width: 30px;
}


.post-card.skeleton .user-name,
.post-card.skeleton .user-status,
.post-card.skeleton .post-body:before,
.post-card.skeleton .post-body::after,
.post-card.skeleton .post-user-details,
.post-card.skeleton .post-date {
  background: var(--dark-200);
  background: linear-gradient(-45deg, var(--dark-200) 25%, #292940 50%, var(--dark-200) 75%);
  background-size: 400% 100%;
  animation : shimmer-animation 1s infinite linear;
}